.format {
    display: grid;
    grid-template-rows: 15vh 30vh 30vh 15vh;
    grid-template-columns: 12vw 25vw 25vw 25vw 12vw;

    position: relative;
}

/*.imagebox {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    width: 100%;
    height: 100%;
    position: relative;
}*/

.image {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;

    width: 50vw;
    height: 30vh;
}

.text {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.arrow {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 45px solid black;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.heading {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
}

.projectImages {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.projectImage {

    display: flex;
    flex-direction: column;
    width: 30%;
}


@media (min-width: 1000px) {
    .image {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 4;

        width: 50vw;
        height: 30vh;
    }

    .text {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}