@font-face {
  font-family: 'GFS Didot';
  src: url('../assets/fonts/GFSDidot-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Didot';
  src: url('../assets/fonts/Didot Regular.ttf') format('ttf');
}


.name {
  padding-right: 1.5em;
  padding: 10px;
  font-family: "Didot", serif;
  margin-top: 50px;
  font-size: 3em;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: white;
  margin-top: 100px;
  padding-top: 100px
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.search {
  float: left;
  color: black;
}

/*image*/

.section {
  font-family: "GFS Didot", serif;
  font-size: 25px;
}

.griditem {
  padding-bottom: 25px;
  width: 350px;
  text-align: center;
}

.griditem p {
  padding: 20px 10px 0 10px;
}

.square {
  background-color: whitesmoke;
  width: 350px;
  height: 250px;
  margin-top: 50px;
}

@media (min-width: 1000px) {
  .section {
    font-size: 40px;
  }

  .griditem {
    flex-direction: row;
  }

  .description {
    float: right;
  }

  .square {
    width: 450px;
    height: 350px;
  }
}