/*index specific*/
.wrapper {
  display: flex;
  flex-direction: row;
}

.color {
  align-self: flex-start;
  background-color: rgba(18, 100, 125, 1);
  height: 700px;
  width: 1000px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  margin: 0;
  padding: 0;
}

.worktitle {
  font-family: Dancing Script, cursive;
  font-size: 3em;
  color: aliceblue;
  text-align: center;
  margin-top: 150px;
}

.look {
  font-size: 1.5em;
  color: aliceblue;
  text-align: center;
  margin: 0;
  Padding: 80px
}


.name {
  padding-right: 1.5em;
  padding: 10px;
  font-size: 1.5em;
  font-family: Great Vibes, cursive;
  margin-top: 50px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px
}

.griditem {
  padding-bottom: 30px;
  width: 350px;
  text-align: center;
}

.square {
  background-color: whitesmoke;
  width: 350px;
  height: 250px;
  text-align: center;
  margin-top: 50px;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.search {
  float: left;
  color: black;
}