@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

@import url("https://use.typekit.net/dpt4bai.css");

@font-face {
  font-family: 'GFS Didot';
  src: url('../assets/fonts/GFSDidot-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Proxima-nova';
  src: url('../assets/fonts/Proxima Nova Light.otf') format('otf');
}


.title {
  position: relative;
}

.skills {
  font-size: 1.3em;
  font-family: 'Caveat', sans-serif;
  text-align: center;
  padding: 10px;
}

.GD,
.IL,
.WD {
  padding: 10px;
  font-size: 3em;
  margin: 20px;
  opacity: 0;
  transform: translateX(-500px);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: white;
  margin-top: 100px;
  padding-top: 100px
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.search {
  float: left;
  color: black;
}

/*image*/

.section {
  font-family: "GFS Didot", serif;
  font-size: 25px;
}

.section p {
  font-family: "proxima-nova", serif;
  font-weight: 400;
  font-style: normal;

}

.griditem {
  padding-bottom: 25px;
  width: 350px;
  text-align: center;
}

.griditem p {
  padding: 20px 10px 0 10px;
}

.square {
  background-color: whitesmoke;
  width: 350px;
  height: 250px;
  margin-top: 50px;
}

@media (min-width: 1000px) {
  .section {
    font-size: 40px;
  }

  .griditem {
    flex-direction: row;
  }

  .description {
    float: right;
  }

  .square {
    width: 450px;
    height: 350px;
  }
}

/*.contactForm {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: 20px;
}*/