@font-face {
    font-family: 'Didot';
    src: url('../../assets/fonts/Didot Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Proxima-nova';
    src: url('../../assets/fonts/Proxima Nova Light.otf') format('otf');
}


.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 30px;
}

.title {
    display: flex;
    justify-content: center;
}

.credentials {
    display: flex;
    font-family: 'Proxima-nova', serif;
    flex-direction: row;
}

.section {
    margin: 40px;
}

.download {
    font-family: "Didot", serif;
    margin: 30px;
    font-size: 40px;
    text-decoration: underline #5FA9A0;
}