@font-face {
    font-family: 'Didot';
    src: url('../../assets/fonts/Didot Regular.ttf') format('ttf');
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 30px
}

.title {
    margin: 50px;

}

.blogtitle {
    font-family: 'Didot', serif;
    font-size: 20pt;
    text-decoration: underline 5px #5FA9A0;
    margin: 20px 0px 10px 0px;
}

.blogs {
    text-align: center;
}

.date {
    color: #5FA9A0;
    font-size: 16pt;
    font-weight: light;
}