@font-face {
    font-family: 'Didot';
    src: url('../../assets/fonts/Didot Regular.ttf') format('ttf');
}
@font-face { 
    font-family: 'Figtree';
    src: url('../../assets/fonts/Figtree-VariableFont.ttf') format('ttf');
 } ;

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 30px;
    
    background-color: white;
    
    margin-top: 100px;
    padding-top: 100px;
}

.title {
    margin: 50px;

}

.blogtitle {
    font-family: 'Figtree', serif;
    font-size: 20pt;
    text-decoration: underline 5px #5FA9A0;
    margin: 20px 0px 10px 0px;
    color: black;
}

.blogs {
    text-align: center;
}

.date {
    color: #5FA9A0;
    font-size: 16pt;
    font-weight: light;
}